header {
   width: 100%;
   min-height: 500px;
   /* min-height: 275px; */
}

#about-header {
   min-height: 100px;
}

#home {
   background: no-repeat white url(/images/home.jpeg);
   background-size: 100% 600px;
   /* background-size: 100% auto; */
}

#about {
   background: no-repeat white url(/images/about-us-hero.jpeg);
   background-size: 100% 400px;
 
 }

/* -------------------- Navbar -------------------- */
nav {
   position: relative;
}

#nav-bar {
   background-color: rgba(26, 46, 56, 0.9);
   /* padding-bottom: 0;
   padding-top: 20px;  */
   font-size: 14px; 
}

#navbarContent {
   /* margin-bottom: 25px; */
   justify-content: space-around; 
}

#navbarContent .navbar-nav .nav-item .nav-link {
   color: white;
   font-weight: 500;
   padding: 10px;
}

/*Toggle this when nav is active*/
.dropdown {
   position: initial;
}

.dropdown-menu {
   width: 90%;
   margin: auto;
   top: 65%;
   left: 5%;
   border: none;
}

.highlight {
   background-color: white;
   color: black !important;
   font-weight: 500 !important;
   /* height: 3em;  */
}

#navbarContent #register-btn {
    color:#03B1F4; 
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 12px;
}

/* Change the color in the stroke property of the hamburger menu */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,165,0)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
} 


/* -------------------- Locations Grid List -------------------- */
#locations-list {
   /* font-family: 'Open Sans', sans-serif; */
   padding: 0px 20px;
}
#locations-list ul li {
   font-size: 14px;
   font-weight: 500;
   padding: 2px 0;     
}
#locations-list ul li a {
   color: #03B1F4;   
}


 /* -------------------- Signin page (Shandira) -------------------- */
 #signin #signin-card {
   /* max-width: 60%; */
 }

 #signin #signin-card h2 {
    text-align: center;
    padding-bottom: 10px;
    color: #444;
 }
 
 #signin .form-group label {
    color: red;
    margin-bottom: 0;
 }

 #signin #shark-img {
   width: 150px;
   height: auto;
   top: -35px;
   left:-83px;
 }

 #signin input {
    background-color:#e4eaea;
    color: #FFF;
 }

 #signin #forgot-pw{
    text-decoration: underline;
 }

 #signin #forgot-pw a {
    color: #03B1F4;
 }

 #signin #btn-group button {
    font-weight: 500;
 }

 #signin #signin-btn {
    background-color: rgba(3, 177, 244, 0.5);
    color: white;
 }

 #signin #signup-btn {
    border: 2px solid #03B1F4;
    color: #03B1F4;
    background-color: #f8f8f8;
 }

 /* Customized for signin card */
 @media all and (max-width:769px) {
    #signin-card {
      width: 80% !important;
    }

    #signin #btn-group #signin-btn {
      margin-bottom: 10px;
    }
 }

/* For screen sizes x-small and under */
@media all and (max-width:575px) {

   #locations-list .row {
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
}

/* For screen sizes large and under */
@media all and (max-width:1199px) {
   .custom-class { /* To expand the button to full width in hamburger menu mode */
      width: 95%; 
      display:block;
      margin: 0 auto; 
   }
   .dropdown-menu {
      width: 100%;
      padding: 0;
      border-radius: 0;
   }
   #locations-list  {
      padding-top: 10px !important;
   }
   #locations-list div h6 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 12px !important;
   }
   #locations-list .row .col-sm-6 {
      margin-bottom: 12px !important;
   }
   #navbarContent #register-btn {
      padding: 10px 0;
      font-size: 14px;
   } 
   #navbarContent .navbar-nav .nav-item .nav-link {
      font-size: 16px;
      font-weight: 400;
   }
   #navbarContent #register-btn {
      padding: 10px 0;
      font-size: 14px;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media all and (min-width:1200px) {
   #locations-list .row .col-sm-6 ul #sf-text {
      width: 265px;
   }

   #signin-card {
      width: 60% !important;
    }
}


/* -------------------------------- About page (Xuan) -------------------------------- */
.shadow-text {
   text-shadow: 1px 1px 2px var(--dark-grey);
   margin-top: 80px;
 }

 .philosophyP {
   background: no-repeat white url(/images/about-our-philosophy-bg.jpeg);
   background-size: 100% 100%;
   padding-top: 80px;
   padding-bottom: 80px;
 }
 .philosophyP p {
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2em;
   font-size: larger;
   line-height: 2em;
 }
 .goodJobP {
   background: no-repeat white url(/images/about-we-do-a-pretty-good-job-bg.jpeg);
   background-size: 100% 100%;
   padding-top: 80px;
   padding-bottom: 80px;
 }
 .goodJobP p {
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2em;
   font-size: larger;
   line-height: 2em;
 }
 
 .awardsDiv {
   padding-top: 80px;
   padding-bottom: 80px;
 }
 .awards {
   padding-left: 12.5%;
   padding-right: 12.5%;
   text-align: center;
 }
 .awardsDiv .awards .award {
   display: inline-block;
   margin: 1em;
 }
 .awardsDiv .awards .award img {
   width: 100%;
   height: 100%;
 }


/* -------------------------------- Footer (Xuan) -------------------------------- */
.splash-site-footer {
   background: no-repeat var(--light-grey) url("/images/footer-bg.jpeg") center;
   background-size: cover;
   padding-bottom: 150px;
   padding-top: 20px;
 }
 
 .splash-site-footer .footer-part-one {
   align-items: center;
 }
 
 .splash-site-footer .footer-logo {
   margin-top: 70px;
   display: flex;
   justify-content: center;
 }
 
 .splash-site-footer .footer-part-one .navbar {
   text-decoration: underline;
   justify-content: center;
 }
 
 .splash-site-footer .footer-part-one .nav-link {
   color: black;
   font-weight: 600;
 }
 
 .splash-site-footer .icon-wrapper {
   display: flex;
   justify-content: center;
 }
 
 .splash-site-footer .icon-wrapper a {
   cursor: pointer;
 }
 
 .splash-site-footer .footer-contact-container,
 .splash-site-footer .foot-part-two-container {
   display: flex;
   justify-content: center;
   margin-top: 40px;
 }
 
 .splash-site-footer .footer-contact {
   display: flex;
   justify-content: space-evenly;
   width: 80%;
   border-top: 1px solid #cccccc;
   border-bottom: 1px solid #cccccc;
   padding: 35px 0;
 }
 
 
 .splash-site-footer .footer-part-two {
   width: 80%;
 }
 
 .splash-site-footer .footer-part-two .sponsors-logo {
   display: flex;
   flex-wrap: wrap;
 }
 
 .splash-site-footer .footer-part-two .sponsors-logo > div:not(:last-child) {
   margin-right: 20px;
 }
 
 .splash-site-footer .footer-part-two .copyright {
   text-align: right;
 }
 
 @media (max-width: 767px) {
   .splash-site-footer .footer-contact {
     flex-direction: column;
     width: 90%;
   }
 
   .splash-site-footer .footer-contact > div:not(:last-child) {
     margin-bottom: 20px;
   }
 
   .splash-site-footer .icon-wrapper a:first-child {
     margin: 0 !important;
   }
 
   .splash-site-footer .footer-part-two .copyright {
     text-align: center;
     margin-top: 30px;
   }
 
   .splash-site-footer .footer-part-two .sponsors-logo > div:last-child {
     margin: auto;
   }
 }
 
 :root {
   --blue: #03b1f4;
   --white: #ffffff;
   --light-grey: #e4e4e4;
   --black: #1a2e38;
   --dark-grey: #444444;
   --grey: #757576;
 }