main {
   font-family: 'Open Sans', sans-serif;
}

header {
   width: 100%;
   min-height: 275px;
}

#about-header {
   min-height: 150px;
}

#adultprogram-header {
   min-height: 280px;
}

#home {
   background: no-repeat white url(/images/home.jpeg);
   background-size: 100% 800px;
   /* background-size: 100% auto; */
}
#about {
   background: no-repeat white url(/images/about-us-hero.jpeg);
   background-size: 100% 500px;
 
 }
 #swimlessons header {
   background: no-repeat lightblue url(images/which-lesson-is-best.jpeg);
   background-size: cover;
   background-position: center center; 
   padding-top: 3em;
   min-height: 400px;
} 
#swimprograms header {
   background: no-repeat lightblue url(images/summer-swim-camps.jpeg);
   background-size: cover;
   background-position: center center; 
   padding-top: 3em;
   min-height: 400px;
}
#contact {
   background: no-repeat white url(/images/contact-hero.jpeg);
   background-size: 100% 500px;
 }

 #adultprogram {
   background: no-repeat white url(/images/lap-swimming.jpeg);
   background-size: 100% 500px;
 }

/* -------------------------------- Navbar (Shandira) -------------------------------- */
nav {
   position: relative;
}

#nav-bar {
   background-color: rgba(26, 46, 56, 0.9);
   /* padding-bottom: 0;
   padding-top: 20px;  */
   font-size: 14px; 
}

#navbarContent {
   /* margin-bottom: 25px; */
   justify-content: space-around; 
}

#navbarContent .navbar-nav .nav-item .nav-link {
   color: white;
   font-weight: 500;
   padding: 10px;
}

/*Toggle this when nav is active*/
.dropdown {
   position: initial;
}

.dropdown-menu {
   width: 90%;
   margin: auto;
   top: 65%;
   left: 5%;
   border: none;
}

.highlight {
   background-color: white;
   color: black !important;
   font-weight: 500 !important;
   /* height: 3em;  */
}

#navbarContent #register-btn {
    color:#03B1F4; 
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 12px;
}

/* Change the color in the stroke property of the hamburger menu */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,165,0)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
} 


/* -------------------- Locations Grid List -------------------- */
#locations-list {
   /* font-family: 'Open Sans', sans-serif; */
   padding: 0px 20px;
}
#locations-list ul li {
   font-size: 14px;
   font-weight: 500;
   padding: 2px 0;     
}
#locations-list ul li a {
   color: #03B1F4;   
}


 /* -------------------- Signin page (Shandira) -------------------- */
 #signin #signin-card {
   /* max-width: 60%; */
 }

 #signin #signin-card h2 {
    text-align: center;
    padding-bottom: 10px;
    color: #444;
 }
 
 #signin .form-group label {
    color: red;
    margin-bottom: 0;
 }

 #signin #shark-img {
   width: 150px;
   height: auto;
   top: -35px;
   left:-83px;
 }

 #signin input {
    background-color:#e4eaea;
    color: #FFF;
 }

 #signin #forgot-pw{
    text-decoration: underline;
 }

 #signin #forgot-pw a {
    color: #03B1F4;
 }

 #signin #btn-group button {
    font-weight: 500;
 }

 #signin #signin-btn {
    background-color: rgba(3, 177, 244, 0.5);
    color: white;
 }

 #signin #signup-btn {
    border: 2px solid #03B1F4;
    color: #03B1F4;
    background-color: #f8f8f8;
 }

 /* Customized for signin card */
 @media all and (max-width:769px) {
    #signin-card {
      width: 80% !important;
    }

    #signin #btn-group #signin-btn {
      margin-bottom: 10px;
    }
 }

/* For screen sizes x-small and under */
@media all and (max-width:575px) {

   #locations-list .row {
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
}

/* For screen sizes large and under */
@media all and (max-width:1199px) {
   .custom-class { /* To expand the button to full width in hamburger menu mode */
      width: 95%; 
      display:block;
      margin: 0 auto; 
   }
   .dropdown-menu {
      width: 100%;
      padding: 0;
      border-radius: 0;
   }
   #locations-list  {
      padding-top: 10px !important;
   }
   #locations-list div h6 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 12px !important;
   }
   #locations-list .row .col-sm-6 {
      margin-bottom: 12px !important;
   }
   #navbarContent #register-btn {
      padding: 10px 0;
      font-size: 14px;
   } 
   #navbarContent .navbar-nav .nav-item .nav-link {
      font-size: 16px;
      font-weight: 400;
   }
   #navbarContent #register-btn {
      padding: 10px 0;
      font-size: 14px;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media all and (min-width:1200px) {
   #locations-list .row .col-sm-6 ul #sf-text {
      width: 265px;
   }

   #signin-card {
      width: 60% !important;
    }
}

/* -------------------------------- Home Page (Kalvin) -------------------------------- */
/* On image styling */
.textonbabyimg{
   color: white;
   text-align: center;
   font-family: 'Bodoni Moda', serif;
   font-size: 55px;
   font-weight: bold;
}
#infoandswimvengerbtns {  
  padding: 10px;
  text-align: center; 
}
#informationalvideobtn {
   background-color: white;
   color: #03b1f4;
   font-weight: bold;
   padding: 20px 20px;
   cursor: pointer;
   margin: 4px 2px;
   border-radius: 40px;
}
#swimvengervideobtn {
   background-color: white;
   color: #03b1f4;
   font-weight: bold;
   padding: 20px 20px;
   cursor: pointer;
   margin: 4px 2px;
   border-radius: 40px;
}

/*---------- Hands on teaching section ---------- */
.onimg {
   margin-top: 205px;
}
.handsonteaching{
   width: 131%;
   margin-top: 20px;
}
.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}
img#hiringbannerimg {
   margin-top: 20px;
}
.splashesofferfont {
   font-weight: bold;
   font-size: 24px;
}
.swimminglessons {
   font-size: 24px;
}
a.swmminglessonoptions {
   color: black;
   text-decoration: underline;
}
#handsonteachingbtn {
   background-color: #03b1f4;
   color: white;
   text-align: center;
   padding: 10pn 20px;
   cursor: pointer;
   border-radius: 50px;
   margin-left: 125px;
   font-weight: bold;
}
.pt1 {
   background: url(images/home-hands-on-teaching.png);
   background-repeat: no-repeat;
   background-size: 190%;
   height: 1000px;
   background-position: center;
}
/* .pt2 {
   width: 25%;
   position: relative;
   margin-top: 20px;
   top: 25%;
   margin-left: 100px;
} */
.info1{ 
   font-size: 24px;
}
.handsonteachingtxt {
   font-family: Bodoni Moda;
   font-weight: bold;
   font-size: 50px;
}

.pt3 {
   position: relative;
   background-image: url("images/home-our-locations-bg.jpg");
   min-height: 850px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.pic2 {
   
   position: relative;
   width: 50%;
   float: right;
   height: 850px;
}
.findsplashtxt {
  text-align: center;
  font-family: open sans-serif;
}
.familyswimlocationtxt {
   color: white;
}
.splashesaquaticstxt {
   color: darkgray;
}
#findswimlocationbtn{
   background-color: #03b1f4;
   color: white;
   text-align: center;
   cursor: pointer;
   border-radius: 16px;
}
.pt5 {
   text-align: center;
}
/* HANDS ON TEACHING MEDIA QUERIES */

@media (min-width: 1200px) {
   .pt2 {
       width: 33%;
       position: relative;
       margin-top: 20px;
       top: 18%;
       margin-left: 25px;
   }
}
@media (min-width: 1200px) {
   .handsonteachingtxt {
       font-size: 35px;
   }
}
@media (min-width: 1200px) {
   .info1 {
       font-size: 14px;
       width: 100%;
   }
}
@media (min-width: 1200px) {
   .swimminglessons {
       font-size: 16px;
   }
}
@media (max-width: 1199px) {
   .pt1 {
       background: white;
   }
}
@media (max-width:1199px) {
   .pt2 {
       position: relative;
       margin-top: 20px;
       top: 18%;
      margin-left: 15px;
      margin-right: 15px;
   }
}
@media (max-width: 1199px) {
   #handsonteachingbtn {
       margin-left: 400px;
   }
}

/* ---------- FIND SWIM SCHOOL MEDIA QUERIES --------- */

@media (min-width: 1200px) {
   .findsplashtxt {
       font-family: Bodoni Moda;
       font-weight: bold;
       font-size: 80px;
       color: white;
   }
}
@media (min-width: 1200px) {
   .familyswimlocationtxt {
       font-family: Bodoni Moda;
       font-weight: bold;
       font-size: 50px;
   }
}
@media (min-width: 1200px) {
   .splashesaquaticstxt {
       font-size: 23px;
   }
}
/* @media (max-width: 1199px) {
  .pt3 {
   background: url("images/home-our-locations-bg.jpg");
  }
} */
@media (max-width: 1199px) {
   .findsplashtxt {
       font-family: Bodoni Moda;
       font-weight: bold;
       font-size: 80px;
       color: white;
       width: 100%;
}
}

/* Awards */
@media (min-width: 577px) {
   #awards {
       display: grid;
       grid-template-columns: repeat(3, 3fr);
       list-style-type: none;
       width: fit-content;
       margin-right: auto;
       margin-left: auto;
      
   }
}
@media (max-width: 576px) {
   #awards {
       list-style-type: none;
   }
}

/* -------------------------------- Adult Programs Page (Kalvin) -------------------------------- */

#adultprogram .caption1 {
   font-family: 'Bodoni Moda', serif;
   font-weight: bold;
   font-size: 35px;
   text-align: center;
}
#adultprogram .adultpageinfo {
   font-size: 15px;
}
#adultprogram #findlapswim {
   text-decoration: underline;
   color: #03b1f4;
}
#adultprogram main{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
}
#adultprogram .textonbabyimg1 {
   color: white;
   text-align: center;
   font-family: 'Bodoni Moda', serif;
   font-size: 70px;
   font-weight: bold;
}
#adultprogram .onimg1{
   margin-top: 120px;
}



/* -------------------------------- About page (Xuan) -------------------------------- */
#about h1 {
   font-family: 'Bodoni Moda', serif;
   font-weight: bold;
}

.shadow-text {
   text-shadow: 1px 1px 2px var(--dark-grey);
   margin-top: 80px;
 }

 .philosophyP {
   background: no-repeat white url(/images/about-our-philosophy-bg.jpeg);
   background-size: 100% 100%;
   padding-top: 40px;
   padding-bottom: 80px;
 }
 .philosophyP p {
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2em;
   font-size: larger;
   line-height: 2em;
 }
 .goodJobP {
   background: no-repeat white url(/images/about-we-do-a-pretty-good-job-bg.jpeg);
   background-size: 100% 100%;
   padding-top: 80px;
   padding-bottom: 80px;
 }
 .goodJobP p {
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2em;
   font-size: larger;
   line-height: 2em;
 }
 
 .awardsDiv {
   padding-top: 80px;
   padding-bottom: 80px;
 }
 .awards {
   padding-left: 12.5%;
   padding-right: 12.5%;
   text-align: center;
 }
 .awardsDiv .awards .award {
   display: inline-block;
   margin: 1em;
 }
 .awardsDiv .awards .award img {
   width: 100%;
   height: 100%;
 }


 /* -------------------------------- Swimming Lessons page (Gloria) -------------------------------- */
#swimlessons header h2 {
   text-align: center;
   color: white;
   margin-top: 120px;
   font-size: 44pt;
} 

 /* #swimlessons body {
   font-family: "Bodoni Moda";  
}

#swimlessons main {
   font-family: Open, Sans, Regular;
} */

#swimlessons #swim-hero-header, #swimlessons #swim-subheader {
   font-family: 'Bodoni Moda', serif;
}

#swimlessons #swim-subheader {
   font-weight: bold;
}

#swim h2 {
   color: white;
   text-align: center;
}
#swim h4 {
   text-align: center;
   font-weight: bold;
   /*color: white;*/
   font-size: 38px;
   line-height: 2.5;
   margin-top: -45px;
   
}
#swimlessons h4{
   line-height: 4.8;
   font-size: 28px;
}
#swimlessons h5{
   font-family: Bodoni Moda 72pt;
   font-weight: bold;
}
#swimlessons #stroke p{
   margin: 0;  
}

#swimlessons main a:link {
   color: #03B1F4;
   text-decoration: underline;
}
#swimlessons main ul.no-bullets{
   list-style-type: none;
   margin: 0;
   padding: 0;
   line-height:2.0 ;
}

/* -------------------------------- Swim Programs page (Gloria) -------------------------------- */
#swimprograms header h2 {
   text-align: center;
   color: white;
   margin-top: 120px;
   font-size: 44pt;
}
#swimprograms h5{
   font-family: 'Bodoni Moda', serif;
   font-size: 72pt;
   font-weight: bold;
}

#swimprograms #swim-hero-header, #swimprograms #swim h4 {
   font-family: 'Bodoni Moda', serif;
   font-weight: bold;
}

#swimprograms #stroke p{
   margin: 0;  
}
#swimprograms main a:link {
   color: #03B1F4;
   text-decoration: underline;
}
#swimprograms main ul.no-bullets{
   list-style-type: none;
   margin: 0;
   padding: 0;
   line-height:2.0 ;
}

/* -------------------------------- Contact Us page (Xuan) -------------------------------- */
#contact #aboutsplash {
   min-height: 315px;
}

#contact #aboutsplash h2 {
   color: white;
   text-align: center;
   font-weight: bold;
   font-size: 44px;
   margin-top: 120px;
}

#contact #aboutsplash b {
   font-family: 'Bodoni Moda', serif;
}

#contact .contact-options-section {
   max-width: 1024px;
}
#contact .contact-option {
   width: 200px;
   height: 200px;
}

#contact .contact-options .contact-option img {
   object-fit: contain;
} 

/* -------------------------------- Footer (Xuan) -------------------------------- */
.splash-site-footer {
   background: no-repeat var(--light-grey) url("/images/footer-bg.jpeg") center;
   background-size: cover;
   padding-bottom: 150px;
   padding-top: 20px;
}
 
.splash-site-footer .footer-part-one {
   align-items: center;
}
 
.splash-site-footer .footer-logo {
   margin-top: 70px;
   display: flex;
   justify-content: center;
}

.splash-site-footer .footer-part-one .navbar {
   text-decoration: underline;
   justify-content: center;
}

.splash-site-footer .footer-part-one .nav-link {
   color: black;
   font-weight: 600;
}

.splash-site-footer .icon-wrapper {
   display: flex;
   justify-content: center;
}

.splash-site-footer .icon-wrapper a {
   cursor: pointer;
}
 
 .splash-site-footer .footer-contact-container,
 .splash-site-footer .foot-part-two-container {
   display: flex;
   justify-content: center;
   margin-top: 40px;
 }
 
.splash-site-footer .footer-contact {
   display: flex;
   justify-content: space-evenly;
   width: 80%;
   border-top: 1px solid #cccccc;
   border-bottom: 1px solid #cccccc;
   padding: 35px 0;
}

/* .splash-site-footer .footer-contact > div {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .splash-site-footer .footer-contact > div > div {
   font-weight: 600;
   margin-bottom: 5px;
 }
 
 .splash-site-footer .footer-contact > div > a {
   color: var(--grey);
 } */
 
 
.splash-site-footer .footer-part-two {
   width: 80%;
}

.splash-site-footer .footer-part-two .sponsors-logo {
   display: flex;
   flex-wrap: wrap;
}

.splash-site-footer .footer-part-two .sponsors-logo > div:not(:last-child) {
   margin-right: 20px;
}

.splash-site-footer .footer-part-two .copyright {
   text-align: right;
}
 
@media (max-width: 767px) {
   .splash-site-footer .footer-contact {
      flex-direction: column;
      width: 90%;
   }

   .splash-site-footer .footer-contact > div:not(:last-child) {
      margin-bottom: 20px;
   }

   .splash-site-footer .icon-wrapper a:first-child {
      margin: 0 !important;
   }

   .splash-site-footer .footer-part-two .copyright {
      text-align: center;
      margin-top: 30px;
   }

   .splash-site-footer .footer-part-two .sponsors-logo > div:last-child {
      margin: auto;
   }
}
 
 :root {
   --blue: #03b1f4;
   --white: #ffffff;
   --light-grey: #e4e4e4;
   --black: #1a2e38;
   --dark-grey: #444444;
   --grey: #757576;
 }