header {
   width: 100%;
   min-height: 500px;
   /* min-height: 275px; */
}

#home {
   background: no-repeat white url(/images/home.jpeg);
   background-size: 100% 600px;
   /* background-size: 100% auto; */
}

/* -------------------- Navbar -------------------- */
nav {
   position: relative;
}

#nav-bar {
    background-color: rgba(26, 46, 56, 0.9);
    padding-bottom: 0; 
    font-size: 14px;   
}

#navbarContent {
    margin-bottom: 25px;
    justify-content: space-around;
}

#navbarContent .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 500;
    padding: 10px;
}

/*Toggle this when nav is active*/
.dropdown {
   position: initial;
}


.dropdown-menu {
   padding: 0;
   width: 100%;
}

.highlight {
   background-color: white;
   color: black !important;
   height: 3em;
}

#locations-list {
   padding: 20px;
}

#navbarContent #register-btn {
    color:#03B1F4; 
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 14px;
}

/* Change the color in the stroke property of the hamburger menu */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,165,0)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
}

/* To expand the button to full width in hamburger menu mode*/
@media all and (max-width:1199px) {
    .custom-class { 
        width: 95%; 
        display:block;
        margin: 0 auto; 
    }
 } 

 /* -------------------- Signin page -------------------- */
 #signin #signin-card {
   width: 50%;
 }

 #signin #signin-card h2 {
    text-align: center;
    padding-bottom: 10px;
    color: #444;
 }
 
 #signin .form-group label {
    color: red;
    margin-bottom: 0;
 }

 #signin #shark-img {
   width: 150px;
   height: auto;
   top: -35px;
   left:-83px;
 }

 #signin input {
    background-color:#e4eaea;
    color: #FFF;
 }

 #signin #forgot-pw{
    text-decoration: underline;
 }

 #signin #forgot-pw a {
    color: #03B1F4;
 }

 #signin #btn-group button {
    font-weight: 500;
 }

 #signin #signin-btn {
    background-color: rgba(3, 177, 244, 0.5);
    color: white;
 }

 #signin #signup-btn {
    border: 2px solid #03B1F4;
    color: #03B1F4;
    background-color: #f8f8f8;
 }

 @media all and (max-width:768px) {
    #signin-card {
      width: 80% !important;
    }

    #signin #btn-group #signin-btn {
      margin-bottom: 10px;
    }
 }

/* -------------------- Locations Grid List -------------------- */
#locations-list {
   font-family: 'Open Sans', sans-serif;
}
#locations-list ul li {
   color: #03B1F4;
   font-size: 14px;
   font-weight: bold;
   padding: 2px 0;     
}
#locations-list ul li a {
   color: #03B1F4;   
}